<nav class="navbar navbar-dark navbar-expand-md px-3">
    <a routerLink="" class="navbar-brand">
        <img src="" alt="" class="img-fluid"/>
    </a>
    <button class="navbar-toggler" 
        data-bs-toggle="collapse" 
        data-bs-target="#mainnav"
        (click)="toggleMenu()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="navbarExt">
        <ul class="navbar-nav text-end ms-auto fw-bold">
            <li class="nav-item" *ngFor="let item of Menu">
                <a [routerLink]="item.path" class="nav-link text-dark">{{item.name}}</a>
            </li>
        </ul>
    </div>
</nav>