<section class="contact-s1 container-fluid d-flex align-items-center minh-50vh bg-secondary py-5">
    <div class="row mx-0 w-100 mt-5">
        <div class="col-11 col-sm-5 col-md-4 text-start pt-5">
            <h3 class="text-uppercase fw-bold mb-2 text-dark">
                Contact us
            </h3>
            <p class="text-dark">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
                enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                nisi ut aliquip ex ea commodo consequat. 
            </p>
        </div>
    </div>
</section>    